# Archivos de configuración local
.env
env.php
ultramsg.php
# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias y build
/node_modules/
vendor/
dist/

# IDEs y editores
.vscode/
.idea/
*.swp

# Logs
*.log
